@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

/*Comment*/
body {
    display: flexbox;
    align-content: center;
    background-color: #F5F5DC;
}


.header{
    background-color: #ff5722;
    position: sticky;
}

.container {

    padding: 0px;
    margin: 0px;
    height: 50px;
}

.nav-item {
    padding: 40px;
    margin: 35px;
}

.nav-link {
    font-family: cursive;
    color: #7DF9FF;
}

.homeName {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    font-family: Maiden;
}

.homePic1, .homePic2, .homePic3 {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
}

.homePic1 img, .homePic2 img, .homePic3 img {
    display: block;
    width: 100%;
    height: 100%;
}

.slogan1, .slogan2, .slogan3 {
    font-family: lobster, cur;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 65px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slogan1 {
    color: #008080;
    top: 50%;
    transform: translateY(-50%);
}

.slogan2 {
    color: #FFEB3B;
    top: 50%;
    transform: translateY(-50%);
}

.slogan3 {
    color: #FF5722;
    top: 50%;
    transform: translateY(-50%);
}

.explore, .send {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.explore, .send {
    background-color: #7DF9FF;
}
.explore, .send:hover {
    background-color: rgba(255, 255, 255, 1);
}

button{
    color: #4169E1;
    font-family: cursive;
}

.aboutName, .contactName {
    position: absolute;
    left: 10px;
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    font-family: Maiden;
}

.aboutPic, .contactPic {
    position: relative;
    display: block;
}

#aboutInfo {
    font-family: Maiden;
    color: #8B4513;
    font-size: 30px;
    font: bold;
}


.aboutPic, .contactPic {
        display: flex;
        align-items: center;
        gap: 20px;
    }



 .aboutPic img, .contactPic {
    flex-shrink: 0;
 }   

 .aboutPic p {
    margin: 0;
 }

#searchButton:hover {
    background-color: #7DF9FF;

}
 #searchButton, #mediaButton, #playersButton, #resetButton, #purchaseButton {
    color: #7DF9FF;
    border: solid #7DF9FF;
 }

 [data-bs-toggle] {
    color: #7DF9FF;
 }
 
.navbar {
    background-color: #FF5722 !important;
  }
 
 .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .card {
            background-color: #008080;
            color: #8B4513;
            width: 30%;
            margin: 1%;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        .card img {
            width: 100%;
            height: 50%;
        }
        .card h1 {
            margin: 10px 0;
        }
        .card p {
            text-align: left;
            margin: 10px 0;
        }
        .card button {
            margin-top: 10px;
            padding: 10px;
            background-color: #FF69B4;
            color: #7DF9FF;
            border: none;
            cursor: pointer;
        }
        .card button:hover {
            background-color: #FF5722;
        }
        .productName {
            color: #8B4513;
            font-family: Maiden;
            margin: 10px;
        }

        input {

            border-radius: 5px;
        }

        form {
            font-family: Maiden;
            font-size: large;
            color: #8B4513;
            height: min-content;
        }
        
        form label {
            border-radius: 5px;
            display: block;
        }

        .contact-info {
            font-family: Maiden;
            font-size: large;
            color: #8B4513;
        }

        table{
            border: 1px solid black;
            border-collapse: collapse;
         }

         
td, th {
    border: 1px solid #8B4513;
    padding: .2em .7em;
    font-size: 95%; }

    td img {
        width: 70px;
        height: 70px;
    }

    .checkoutName {
        color: #8B4513;
        font-family: Maiden;
    }

    .checkoutTable {
        color: #8B4513;
        margin: auto;
    }
        
       